
<div class="modal">
  <ion-header-bar class="bar-royal">
    <h1 class="title">Message Your Match!</h1>
    <button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
  </ion-header-bar>

  <ion-content>
    <ul class="list">

    </ul>
  </ion-content>

  <div class="bar bar-footer bar-stable item-input-inset">
   <label class="item-input-wrapper">
      <input type="text" ng-model='msg.msg' placeholder="be creepy">
    </label>
    <button id='a' class="button button-icon icon ion-ios7-paperplane" ng-click='sendMessage()'>
    </button>

  </div>

</div>
