 <ion-view title='Matches' hide-back-button='false'>

  <ion-nav-buttons side='right'>
    <a class="button button-icon icon ion-ios7-people" ng-click='goToPotentialMatches()'></a>
  </ion-nav-buttons>

   <ion-content class="has-header">

    <div class="list list-inset">

      <a class="item item-avatar" ng-repeat="match in potentialMatches" ng-click="showMatch(match.fb_id)">
        <img ng-src="{{match.pic}}">
        <h2>{{match.username}}</h2>
      </a>

    </div>

  </ion-content>
</ion-view>
