<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Potential Events</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>
<ion-view title='Potential Events' hide-back-button="true">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="event in potentialEvents" ng-click='showEvent(event)'>
        {{event.title + ": " + event.guests + " people attending"}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>