<ion-view title="Sign-In">
  <ion-content class="center">
    <div ng-style="{'text-align': 'center'}">
      <h2 ng-style="{'font-family': 'impact', 'color': 'white', 'font-size': '45px'}">IceBreaker</h2>
      <img ng-src="http://images.wikia.com/restaurantcity/images/archive/7/77/20110517175454!Ice.png" ng-style="{'padding-top': '10px'}">
      <button id='a' nav-clear class="button button-block button-positive" ng-click="signIn()">
        Sign-In Using Facebook
      </button>
    </div>
  </ion-content>
</ion-view>