 <!-- <div class="bar bar-positive bar-header">
  <button class="button icon ion-arrow-left-c"></button>
  <h1 class="title">Event Info</h1>
  <button class="button">Edit</button>
</div> -->

<ion-view title="{{currentEvent.name.text}}" hide-back-button='true'>
  
  <ion-nav-buttons side='left'>
    <a class="button button-icon icon ion-navicon" ng-click='potentialEvents()'></a>
  </ion-nav-buttons>

  <ion-content >
    <div class='list card'>
      <div class="item item-icon-right">
        <i class='icon ion-fireball'></i>
        <h2>{{currentEvent.venue.name}}</h2>
        <p>{{currentEvent.start.local}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src={{currentEvent.pic}}>
        <p>
          {{currentEvent.description.text}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click='guests()'>
          <i class="icon ion-ios7-people"></i>
          Attending
        </a>
        <a class="tab-item" ng-click='matches()'>
          <i class="icon ion-heart"></i>
          Matches
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
