<ion-view title={{currentEvent.title}}>
  <ion-content >
    <!-- <div> -->
      <figure>
        <img ng-src={{currentEvent.pic}} ng-click='all()'/>
        <figcaption>
          <p>
            {{currentEvent.description}}
          </p>
        </figcaption>
      </figure>
      <div class="button-bar">
        <a class="button icon ion-ios7-people" ng-click="guests()"></a>
        <a class="button icon ion-heart" ng-click="matches()"></a>
      </div>
    <!-- </div> -->

  </ion-content>
</ion-view>
